##**KELOMPOK K**



1.   
2.   Auranissa Efrida P (2006571192)
3.   
4.   Inez Aurellia R (2006571204)
5.   Laily Nur Azizah (2006464234)
6.
7.
8.   Yasmin Khairunnisa (2006571091)

##**Problem Statement**
Cabang sekarang : Jakarta, Depok, Tangerang
1. Rencananya MixITup ingin "scale" business-nya ke kota lain dan melakukan massive marketing.
2. Dapat pendanaan 33 Milyar

##**Data Cleaning and Pre-Processing**

In [ ]:
#import module yang dibutuhkan
import numpy as np, pandas as pd, seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats

In [ ]:
jkt = pd.read

In [ ]:
jkt.shape

In [ ]:
jkt.info()

In [ ]:
#Missing values computation
data.isnull().sum()

#To remove the NA values
data = data.dropna()

In [ ]:
jhjhjhjhj

##**Explaratory Data Analysis**

##**Costumer Segmentation**

##**Conclussion**


1.   List item
2.   List item